.grid-info-wrp{
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: 100%;
    background-color: #6C733D;
    height: 100%;
    align-items: center;
    border-radius: 2px;
}
.chat-name{
    grid-row: 1;
    grid-column: 1;
    justify-self: flex-start;
    font-weight: bolder;
    margin-left: 20px;
    color: white;
}
.participants-num{
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    color: white;
}
.messages-num{
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    color: white;
}
.last-message{
    grid-column: 4;
    grid-row: 1;
    justify-self: flex-end;
    margin-right: 20px;
    color: white;
}